.box {
  /* fisso un'altezza al contenitore */
  height: 500px;
  background-color: aquamarine;
  border: 2px solid black;
  padding: 30px; /* il padding è la spaziatura INTERNA, tra il border e il contenuto */
  margin: 10px; /* il margin è la spaziatura ESTERNA, tra un elemento e gli altri */
  /* scorciatoie: */
  /* 1 valore */
  /* margin: tutti-i-lati */
  /* 2 valori */
  /* margin: sopra-sotto destra-sinistra */
  /* 3 valori */
  /* margin: sopra destra-sinistra sotto */
  /* 4 valori */
  /* margin: sopra destra sotto sinistra */
}

/* la proprietà box-sizing determina COME verrà calcolato l'ingombro di un elemento: */
/* content-box -> l'altezza e la larghezza di un elemento verranno addizionate di padding e border */
/* border-box -> l'altezza e la larghezza di un elemento includeranno già il padding e il border */

/* aggiungiamo anche delle regole css nostre per gli stili base */
h1 {
  font-size: 2em;
  margin: 0.5em 0; /* 1em sopra, 1em sotto, 0 destra, 0 sinistra */
  font-weight: bold; /* grassetto */
  text-align: center; /* centra il titolo */
}

h2 {
  font-size: 1.5em;
  margin: 0.5em 0; /* 0.5em sopra, 0.5em sotto, 0 destra, 0 sinistra */
  text-align: center;
}

p {
  margin: 0.5em 0;
}
